<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Iterate over arrays.</title>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<!-- This is the angularjs magic. -->
<script>
	var app = angular.module('myApp', []);
	app.controller('myController', function($scope, $http) {
		$scope.greetings = "Hello world";

		/* Let's handle some arrays.  */
		$scope.arrayOfNames = [ 'mishtu', 'sorous' ];

		/* Lets get some JSON as well */
		$scope.JSONnames = [ {
			fname : 'mishtu',
			lname : 'sorous'
		} ]

		/* Lets get some data from an actual service.  */
		$http.get("http://www.w3schools.com/angular/customers.php").then(
				function(response) {
					console.log("This is what came back -"
							+ response.data.records);
					$scope.names = response.data.records;
				});
	});
</script>


</head>
<body>

	<h1>Hello world.</h1>

	<div ng-app="myApp" ng-controller="myController">
		<input type="text" ng-model="name"> </br> {{greetings}} from
		{{name}}.

		<!-- Let's handle some arrays.  -->
		<h3>Names from an array</h3>
		<ul>
			<li ng-repeat="name in arrayOfNames">{{name}}</li>
		</ul>

		<!-- It is different with JSON.  -->
		<h3>Names from JSON</h3>
		<ul>
			<li ng-repeat="x in JSONnames">{{x.fname}}, {{x.lname}}</li>
		</ul>


		<ul>
			<li ng-repat="x in names">Name[{{x.Name}}]</li>
		</ul>


	</div>




</body>
</html>